.c1{
    background-color: red;
    color: aliceblue;
}
.c2{
    background-color: blue;
    color: aliceblue;
}
.c3{
    background-color:palevioletred;
    color: aliceblue;
}
.c4{
    background-color: yellow;
    color: rgb(15, 16, 16);
}
.c5{
    background-color:purple;
    color: aliceblue;
}