<!-- <h1 class="c1">{{title}}</h1>
<div>{{ pageHeading }}</div>

<p>{{ pageCount }}</p>

<table style="background-color: antiquewhite;">
    <tr>
        <td>Contact Id</td>
        <td>Contact Name</td>
        <td>Contcat Email</td>
    </tr>
    <tr>
        <td [attr.colspan]="colValue">Contact Id</td>        
        <td>Contcat Email</td>
    </tr>
</table>




<div *ngIf="isUserLoggedIn">
    {{ userObject.firstName}} {{ userObject.lastName }}
</div>

<table>
    <tr>
        <th>Contact Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    <tr *ngFor="let contact of contacts">
        <td>{{ contact.contactId }}</td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
    </tr>
</table>

<button (click)="sayHello();">Click Me</button>

<div (mouseover)="highlightBgColor();">Highlight Me</div>

<input type="text" (focus)="inputBox();">
<br> -->
<!-- <input [(ngModel)]="userName" /> -->

<!-- <div *ngIf="month > 5 ">{{ userName }}</div> -->
<!-- 
<div *ngIf="month > 8 ">{{ userName }}</div>


<h2>Built-in pipes</h2>

<div>{{ lowerCase | lowercase }}</div>
<div>{{ upperCase | uppercase }}</div>
<div>{{  dateExample | date }}</div>
<div>{{ jsonExample | json }}</div>
<div>{{ currencyExmaple | currency }}</div>
<div>{{ percentExample | percent}}</div>


<h3>Paramterizing pipes</h3>
<div>{{ currencyExmaple | currency:'INR'}}</div>
<div>{{ dateExample | date:'MM-dd-yy'}}</div>
<div>{{ percentExample | percent:'2.1-4' }}</div>


<h3>Chaining Pipes pipes</h3>
<div>{{ dateExample | date | uppercase }}</div>
<div>{{ currencyExmaple | currency:'CAD' | lowercase }}</div>

 -->
<!-- <div style="background-color: aquamarine;" *ngIf="show_message || show_flag">
    User added Successfully(||).
</div>
<div style="background-color: aquamarine;" *ngIf="show_message && show_flag">
    User added Successfully(&&).
</div>
<div style="background-color: aquamarine;" *ngIf="!show_message">
    User added Successfully(!).
</div> -->

<!-- <div style="background-color: aquamarine;" *ngIf="show_message; else error_msg">
    User added Successfully.
</div>
<ng-template #error_msg>
    User not added.
</ng-template> -->
<!-- <div [ngClass]="'c1'">This is ngClass Example</div>
<div [ngClass]="'c1 c2'">This is multiple class example</div>
<div [ngClass]="styleClsProp">This is ngClass using variable</div>
<div [ngClass]="conditionClsProp==='c4' ? 'c4' : 'c5'">
    This is ngClass condition example
</div>
<div [ngClass]="getClsName()">This is ngClass using method.</div>


<div *ngIf="show_message; then updated_msg; else error_msg" style="background-color: aquamarine;">
    User added Successfully.
</div>
<ng-template #updated_msg>
    User was Updated.
</ng-template>
<ng-template #error_msg>
    User not added.
</ng-template>

<h2>Learning ngFor </h2>
<ul>
    <li *ngFor="let contact of contacts; index as i; first as f; last as l ">
        <div *ngIf="f" style="background-color: aqua;">
            This is first.
        </div>
        <div>
            {{i}}{{contact.firstName}} {{contact.lastName}}
        </div>
        <div *ngIf="l" style="background-color: chartreuse;">
            This is last.
        </div>
    </li>
</ul>
<h2>New table with even and odd</h2>
<ul>
    <li *ngFor="let contact of contacts; index as i; even as e; odd as o">
        <div *ngIf="e" style="background-color: rgb(186, 188, 188);">
            {{i}} {{contact.firstName}} {{contact.lastName}}
        </div>
        <div *ngIf="o" style="background-color: rgb(87, 90, 90);">
            {{i}} {{contact.firstName}} {{contact.lastName}}
        </div>
    </li>
</ul>

<h4>Learning ngSwitch</h4>

<div [ngSwitch]="superPower">
    <div *ngSwitchCase="'wonderWoman'">Display Wonder woman super power</div>
    <div *ngSwitchCase="'superMan'">Display Super Man super power</div>
    <div *ngSwitchCase="'heMan'">Display He man super power</div>
    <div *ngSwitchCase="'spiderMam'">Display Sipder Man super power</div>
    <div *ngSwitchDefault>Super power is Learning.</div>
</div>

<div [ngSwitch]="tax">
    <div *ngSwitchCase="10">Display tax is 10.</div>
    <div *ngSwitchCase="50">Display tax is 50.</div>
    <div *ngSwitchDefault>Tax not applicable.</div>
</div>

<h3>Learning ngStyle</h3>
<div [ngStyle]="{'background-color':'green','color':'#fff'}">This is green Div.</div>
<div [ngStyle]="{'background-color':styleProp}">This is Dynamic Color Div.</div>
<div [ngStyle]="{'color':textColor==='red' ? 'red' : 'blue'}">
    This is Conditional Div.
</div> -->

<h1>This is Angular Application.</h1>
<!-- Primary router-outlet -->
<router-outlet></router-outlet> 
<!-- named router outlet-->
<router-outlet name="addLoan"></router-outlet>
 <!-- named router outlet-->
<router-outlet name="editLoan"></router-outlet>